.bg{
    background-image: url('cube.png');
    /*background-color: grey;*/
}

.holder{
    /*background-color: white;*/
    width: 500px;
    height: 660px   ;
    margin: auto;
    position: relative;
}
.front_lock{
    background-image: url('lock-body.png');
    height: 300px;
    width: 453px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    z-index: 2;
}
.back_lock {
    background-color: gold;
    height: 300px;
    width: 453px;
    position: absolute;
    bottom: 12%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    z-index: 0;
    
}
.iron_holder{
    height: 66%;
    width: 74%;
    position: absolute;
    background-image: url("lock.png");
    left: 0;
    right: 0;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    animation-name: lock_anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

    @keyframes lock_anim {
    0% {
        top: 20%;
    }
    10% {
            top: 0%;
        }
    30% {
        top: 20%;
    }
    100% {
        top: 20%;
    }
}
.key_img{
    position: absolute;
    height: 287px;
    width: 150px;
    background-image: url(key.png);
    top: 81%;
    left: 34%;
    z-index: -1;
}
.login{
    color: rgba(51, 51, 51, 0.7);
    position: relative;
    top: 55%;
    left: 38%;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
}
.reg{
    position: relative;
    top: 63%;
    left: -7%;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.7);
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
}
.imgur{
    width:377px;
    height: 105px;
    background-image: url('passfast.png');
}